/*rgba(99, 98, 98, 0.103);*/
.navbar{
  height:70px;
  width: 100%;
  background-color:rgb(216, 210, 210);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.navicons{
background-color: transparent;
display: flex;
margin-right:700px;
}
.navicons .iconsnav{
  background-color: transparent;
  color: rgb(57, 17, 85);
  font-size: 18px;
  margin-right: 10px;
}
.navicons p{
  background-color: transparent;
  font-size: 20px;
  color: rgb(57, 17, 85);
  margin-right: 30px;
}

.logonav{
border-radius: 50px;
width: 60px;
height: 60px;
margin-left: 10px;
}
.logonav:hover{
  border: 1px solid  rgb(62, 36, 81);
}
#btnlogout{
  width: 100px;
  height: 30px;
  background : rgba(62, 36, 81, 0.934);
  color: white;
  border: 1px solid  black;/*rgba(255, 255, 255, .2);*/
  border-radius: 3px;
  font-size: 14px;
}
#btnlogout:hover{
  background-color:rgb(119, 81, 146) ;
}
.navlink{
 background-color: transparent; 
 display: flex;
 align-items:center;
 justify-content: space-between;
 position: relative;
 height: 100%; 
 color:rgb(57, 17, 85);
 margin-right: 10px;
}
.dropmenu{
  margin: 10px;
  background-color:transparent; 
  color:rgb(57, 17, 85);
  font-size: 17px;
  position: relative;
  height: 50px;
  text-decoration: none;
  display: flex;
  align-items:center;
  text-decoration: underline;
text-decoration-color: rgb(62, 36, 81) ;
}
.icons{
  background-color:transparent;
  margin-right: 10px;
  
}
.notif,.config{
  background-color:transparent;
  width: 20px;
  height: 20px;
  color:rgb(57, 17, 85);

}
@media (max-width: 768px) {
  /* Styles for tablets and smaller devices */
  .navbar{
    height:100px;
  }
  .navicons{
    margin-right: 10px;
    }
    .navicons .iconsnav{
      font-size: 13px;
      margin-right: 5px;
    }
    .navicons p{
      font-size: 17px;
      margin-right: 10px;
      
    }
    .logonav{
    border-radius: 50px;
    width: 45px;
    height: 45px;
    }
    #btnlogout{
      width: 80px;
      height: 25px;
      font-size: 12px;
    }
    .dropmenu{
      font-size: 16px;
      height: 30px;
      text-decoration: none;;
      text-decoration: underline;
    }
}

@media (max-width: 576px) {
  /* Styles for mobile devices */
  .navbar{
    height:100px;
  }
  .navicons{
    margin-right: 3px;
    }
    .navicons p{
      font-size: 14px;
      margin-bottom: 10px;
    }
    .logonav{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-bottom:30px;
    margin-left: 0;
    }
    #btnlogout{
      width: 70px;
      height: 25px;
      font-size: 10px;
    }
    .dropmenu{
      font-size: 12px;
    }
}
