
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    /*#9E8277;/*#6A645A;/*#CFC486;/*#E2E9C0*//* #EEF0F4;*//*#d7c998ec;*/
   /* rgb(234,234,234);*/
  }
  
  body ,html{
    margin: 0;
    padding: 0;
    font-family:"Times New Roman", Times, serif;
   background-position: center; 
  }

  




